<% content_for :page_title do %>
New survey -
<% end %>
<div class="container">
  <div class="page-header">
    <h1>New survey</h1>
  </div>

  <%= render 'form' %>

  <div class="clearfix"></div>

  <%= link_to 'Cancel', surveys_path, class: 'btn btn-default' %>
</div>
