<% content_for :page_title do %>
About Us -
<% end %>
<div class="jumbotron">
  <div class="container">
    <h1>About StackPolls</h1>
    <p class="lead">A ThriveSmart Beta service at <small><a href="http://www.stackpolls.com/">www.stackpolls.com</small>.</p>
    <p class="lead">
      <a href="mailto:hello@thrivesmart.com" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact Us</a>
    </p>
  </div>
</div>
