<% content_for :page_title do %>
New item_rank -
<% end %>
<div class="container">
  <div class="page-header">
    <h1>New item_rank</h1>
  </div>

  <%= render 'form' %>

  <div class="clearfix"></div>

<%= link_to 'Cancel', item_ranks_path, class: 'btn btn-default' %>
</div>
